@import '~nytpi-sass-utils/index';
@import '~nytpi-sass-utils/size-class';
@import '~nytpi-sass-utils/font-size';
@import "../../scss/variables";
@include set-pspx-ratio(1);
.TitleBox {
  display: flex;
  align-items: stretch;
  box-shadow: 2px 2px 1px #f3efe8;
  min-width: 0;
  text-align: left;
  .title {
    display: flex;
    align-items: center;
    border: solid 3px #000;
    font-family: 'Overpass', sans-serif;
    font-weight: 900;
    font-size: .7em;
    line-height: 1em;
    letter-spacing: 0.1em;
    padding: 1em 1em 1em 1em;
    text-transform: uppercase;
    background-color: #f3efe8;
    width: 66%;
  }
  .text {
    display: flex;
    align-items: center;
    border: solid 3px #000;
    border-left-width: 0;
    font-family: 'Overpass Mono', monospace;
    font-weight: bold;
    font-size: .6em;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    padding: 1em 1em 1em 1em;
    text-transform: uppercase;
    background-color: #f3efe8;
    sup {
      color: #d86126;
      line-height: 1em;
    }
  }
  .text2 {
    sup {
      color: #2a8c1f;
      line-height: 1em;
    }
  }
  .text3 {
    sup {
      color: #0992d1;
      line-height: 1em;
    }
  }
  @include size-class($compact) {
    .title {
      font-size: 13px;
    }
    .text {
      font-size: 11px;
    }
    @include size-class(compact) {
      display: block;
      box-shadow: none;
      .title {
        z-index: 1;
        position: relative;
        background-color: #f3efe8;
        span{
          width: 77%;
        }
      }
      .title2 {
        width: 90%;
      }
      .text {
        border-left-width: medium;
        width: 150%;
        margin-top: -1em;
        position: relative;
        background-color: #f3efe8;
        background-color: #f3efe8 sup {
          color: #d86126;
        }
      }
    }
  }
}

.TitleBox2 {
  .title {
    width: 47%;
  }
  .text {
    width: 55%;
  }
  @include size-class($compact) {
    @include size-class(compact) {
      .text {
        width: 78%;
      }
    }
  }
}

.TitleBox3 {
  .title {
    width: 51%;
  }
  .text {
    width: 45%;
  }
  @include size-class($compact) {
    @include size-class(compact) {
      .title {
        width: 53%;
      }
      .text {
        width: 84%;
      }
    }
  }
}
