@import '../../../../style/_mixin.scss';

.Background{
	.bg-left{
		position: absolute;
		top: 0%;
		left: 0%;
		height: 100%;
	}
	.bg-right{
		position: absolute;
		bottom: 0%;
		right: 0%;
		height: 100%;
	}
	img {
		width: auto;
		height: 100%;
	}
}

@include breakpoint(767px){
	.bg-left{
		// top: -8%;
		// left: -10%;
		// width: 100%;
		top: -12%;
		left: -22%;
		width: 144%;
		height: auto;
	}
	.bg-right{
		bottom: -10%;
		right: -12%;
		width: 100%;
		height: auto;
	}
	img {
		width: 100%;
		height: auto;
	}
}