@import '~nytpi-sass-utils/size-class';
@import '../../scss//fn.scss';

@include set-pspx-ratio(1);

.full {
	position: relative;
}
.section {
	@include size-class(compact) {
		margin-top: 150/320*100vw !important;
	}
}

.showRegular {
	@media (max-width: 539px) {
		display: none;
	}
}
.showCompact {
	@media (min-width: 540px) {
		display: none;
	}
}
$ratio: 1467/2700*1;
.fullImg {
	position: relative;
	width: 100%;
}
.fullImg_T {
	position: relative;
	overflow: hidden;
	width: 100%;
	transform: translate3d(0,0,0);
	margin: 0 !important;
	@media (min-width: 540px) {
		width: 100vw;
		height: calc(100vh - 118px);
		max-width: 1605px;
	}
	@media (max-width: 539px) {
		height: 100vw;
	}
	div {
		height: 100%;
	}
	&.canvas6 {
		canvas {
			@media (max-width: 854px) and (min-width: 540px) {
				transform: translate(-61%,-50%);
			}
		}
	}
	&.canvas3 {
		canvas {
			@media (max-width: 854px) and (min-width: 540px) {
				transform: translate(-42%,-50%);
			}
		}
	}
	&.canvas4 {
		canvas {
			@media (max-width: 854px) and (min-width: 540px) {
				top: 50%;
				left: 50%;
				transform: translate(-47%,-50%);
			}
			// @media (min-width: 1280px) and (max-width: 1605px) {
			// 	top: 20%;
			// 	transform: translate(-50%,-20%);
			// }
		}
	}
	canvas {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100%;
		
		@include size-class(compact) {
			height: 100%;
			width: auto !important;
			max-width: none !important;
		}
	}
}

.fullContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 50/1280*100vw;
	height: calc(100vh - 118px);
	@include size-class(compact){
		font-size: 16/320*100vw;
		height: 100vw;
		top: ptem(-90);
	}
	@include size-class(shell) {
		font-size: 50/1280*1605px;
	}
	@media (max-width: 1279px) and (min-width: 540px) {
		font-size: 50px;
	}
	:global(.scrollmagic-pin-spacer) {
		width: 100% !important;
		margin-top: ptem(17, 50) !important;
		@include size-class(compact) {
			margin-top: 0 !important;
		}
	}
}

.title {
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
	transform: translateX(-50%) translateZ(0);
	margin-top: ptem(17, 50);
	@include size-class(compact) {
		margin-top: 0;
	}
	h1 {
		font-family: 'Saira', sans-serif !important;
		font-weight: 700;
		font-size: ptem(50, 50);
		line-height: 1em;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		@include size-class(compact) {
			font-weight: 600;
			font-size: 30/320*100vw;
			line-height: lh(30,24);
			letter-spacing: -.040em;
			span {
				display: block;
				&:nth-child(2) {
					margin-top: .3em;
				}
			}
		}
	}

	span {
		display: block;
	}
}

.subTextBox {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateZ(0);
	width: ptem(408, 50);
	margin-bottom: -1000px;
	@include size-class(compact) {
		width: ptem(300);
		bottom: auto;
		top: 290/320*100%;	
		margin-top: 600px;
	}
	.subText_inner {
		// transform: translateY(300%);
		transition: transform .5s cubic-bezier(.1,.99,.5,1);
		@media (max-width: 853px) {
			transform: translateY(0);
			transition: none;
		}
	}
	.subText_inner_box {
		font-family: 'Archivo', sans-serif;
		font-weight: 600;
		font-style: initial !important;
		font-size: ptem(16, 50);
		line-height: lh(16, 28);
		text-align: center;
		padding: ptem(11, 16) 0;
		letter-spacing: .040em;
		box-sizing: border-box;
		background: rgba(255, 255, 255, .7);
		@include size-class(compact) {
			font-weight: 500;
			font-size: ptem(14);
			line-height: lh(14,24);
			letter-spacing: .020em;
			padding: ptem(16) ptem(10);
			span {
				display: inline;
			}
		}
	}

	span {
		display: block;
	}
}
[safari] {
	.subText_inner_box {
		font-weight: 500 !important;
	}
}

.BodyCopy {
	margin-bottom: 0 !important;
	&.section1 {
		.firstCopy {
			letter-spacing: .020em;
		}
		p {
			letter-spacing: .040em;
		}
	}
	:global{
		.firstLetter {
			position: relative;
			font-family: 'Saira',sans-serif;
			font-weight: 600;
			font-size: ptem(48);
			float: left;
			margin-right: ptem(10,48);
			margin-top: .3em;
			margin-left: 0;
			color: #6ba2a5;
			padding-bottom: ptem(4,48);
			border-bottom: ptem(5,48) solid #6ba2a5;
			@include size-class(compact) {
				font-size: ptem(44);
				margin-left: .2em;
				margin-right: ptem(12,44);
			}
		}
		.hasBeforeContent::before{
			content: '“';
			position: absolute;
			top: 0;
			left: -.5em;
		}
	}
}






@include set-pspx-ratio(2);