@import '../../../../style/_mixin.scss';

.ChartMobile{
    position: absolute;
    width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	opacity: 0;
	visibility: hidden;
}

@include breakpoint(767px){
	.ChartMobile{
		display: block;
		opacity: 1;
		visibility: visible;
		color: #fffaf0;
		.headline{
			width: 90%;
			font-family: "Intel Clear Pro", Tahoma, sans-serif;
			font-size: cal-font-size(55, 414);
			text-align: center;
			letter-spacing: cal-font-size(0.5, 414);
			margin: 0 auto;
			line-height: 0.9em;
			margin-top: 16.5%;
			sup{
				position: relative;
				font-family: "Intel Clear", Tahoma, sans-serif;
				font-size: 0.3em;
				vertical-align: super;
				line-height: 1em;
				top: -0.5em;
			}
		}
		.swiper-container{
			height: 100%;
			display: flex;
			margin-top: 7.5%;
			.swiper-wrapper{
				position: relative;
				height: 100%;
				display: flex;
				.swiper-slide{
					position: relative;
					// background-color: #000000;
					flex: 1 0 auto;
				}
				.swiper-slider{
					.content-box{
						margin-left: 15%;
						width: 70%;
					}
					.icon-box{
						position: relative;
						width: 52%;
						.animate{
							position: absolute;
							width: 100%;
							top: 0%;
							left: 0%;
						}
					}
					.sub-headLine{
						width: 80%;
						font-family: "Intel Clear Bd", Tahoma, sans-serif;
						font-size: cal-font-size(23, 414);
						margin-top: 8%;
						line-height: 1.1em;
					}
					.sub-text{
						font-family: "Intel Clear", Tahoma, sans-serif;
						font-size: cal-font-size(15, 414);
						letter-spacing: cal-font-size(-0.3, 414);
						margin-top: 5.5%;
						line-height: 1.1em;
						color: white;
					}
				}
				.swiper-slider2{
					.icon-box{
						width: 41%;
					}
				}
				.swiper-slider3{
					.icon-box{
						width: 45%;
					}
					.sub-headLine{
						margin-top: 10%;
					}
				}
			}
		}
		.swiper-pagination{
			position: absolute;
			left: 46%;
			transform: translateX(-50%);
			width: 84px;
			height: 20px;
			bottom: 22px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.swiper-pagination-bullet{
				width: 15px;
				height: 15px;
				border: 1px solid white;
				border-radius: 50%;
			}
			.swiper-pagination-bullet-active{
				background-color: white;
			}
		}
		.arrow-btn{
			position: absolute;
			width: 5.4%;
			bottom: 0%;
			cursor: pointer;
			transform: translate3d(0,0,0);
			.hover{
				position: absolute;
				top: 0%;
				left: 0%;
				opacity: 0;
			}
			&.swiper-button-next{
				right: 0%;
				transform: rotate(180deg);
			}
			&.swiper-button-prev{
				left: 0%;
			}
		}
		.swiper-button-disabled{
			display: none;
		}
	}
}


.rtl{
	.ChartMobile{
		.swiper-container .swiper-wrapper{
			.swiper-slide{
				.content-box{
					direction: rtl;
				}
			}
		}
	}
}

.edge, .ie{
	.ChartMobile .headline sup{
		top: -0.2em;
	}
}