@import '../../../../style/mixin.scss';
@include font-face('IntelClearPro_W_Bd', 'Intel Clear Pro');
@include font-face('IntelClearProLowercaseSelect_W_Bd', 'Intel Clear Pro Lowercase');
@include font-face('IntelClear_WLat_Rg', 'Intel Clear');
@include font-face('IntelClear-Bold', 'Intel Clear Bd');
@import '../../../../style/_reset.scss';


html, body{
    width: 100%;
    height: 100%;
}
img{
    display: block;
    width: 100%;
}
h1, p, span, div{
    font: inherit;
}
[safari] {
	.Blade2{
		.right-box{
			.text-box {
				.number-box{
					.number{
						@include font-size-desktop(120);
						opacity: 1;
					}
					.svg-box{
						opacity:0;
					}
				}
			}
			.title {
				top: 0em !important;
			}
		}
	}
}
[uc] {
	.Blade2{
		.right-box{
			.text-box {
				.number-box{
					.number{
						opacity: 1;
					}
					.svg-box{
						opacity:0;
					}
				}
			}
		}
	}
}

.Blade2{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
	max-width: 1464px;
	overflow: hidden;
    background: #040205;
	.bg{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0%;
		left: 0%;
		background: url('./../../images/bg.jpg') no-repeat center center/cover;
	}
	.container{
		position: absolute;
		@include font-size-desktop(1200, $type: 'width');
		height: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
	.left-box{
		font-family: 'Intel Clear Pro', Tahoma, sans-serif;
		position: absolute;
		left: 4.1%;
		top: 8.4%;
		@include font-size-desktop(620, $type: 'width');
		color: white;
		.headline{
			text-align: center;
			@include font-size-desktop(63);
			line-height: 0.9em;
			transform: translateX(-160%);
			opacity: 0;
			&[hide] {
				opacity: 0;
				transform: translate3d(0,0,0);
				transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
			}
			&[active] {
				opacity: 1;
				transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
				transform: translate3d(0,0,0);
			}
			.th{
				font-size: 0.5em;
				vertical-align: super;
				line-height: 1em;
			}
			.small{
				font-family: 'Intel Clear Pro Lowercase', Tahoma, sans-serif;
				font-style: normal;
				font-size: inherit;
			}
		}
		.chip{
			width: 47%;
			margin-left: 25.1%;
			margin-top: 9.5%;
			transform: translateX(-220%);
			opacity: 0;
			&[hide] {
				opacity: 0;
				transform: translate3d(0,0,0);
				transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
			}
			&[active] {
				opacity: 1;
				transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
				transform: translate3d(0,0,0);
			}
		}
	}
	.right-box{
		font-family: 'Intel Clear Bd', Tahoma, sans-serif;
		position: absolute;
		left: 61.7%;
		top: 17.1%;
		@include font-size-desktop(330, $type: 'width');
		color: #73c4ee;
		.text-box{
			transform: translateX(180%);
			opacity: 0;
			&[hide] {
				opacity: 0;
				transform: translate3d(0,0,0);
				transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
			}
			&[active] {
				opacity: 1;
				transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
				transform: translate3d(0,0,0);
			}
			.number-box{
				position: relative;
				display: inline-block;
				.number{
					@include font-size-desktop(100);
					display: inline-block;
					line-height: 1.2em;
					@include font-size-desktop(-1, $type: 'letter-spacing');
					-webkit-text-fill-color: transparent;
					-webkit-background-clip: text;
					background-size: cover;
					background-image: url('./../../images/color.jpg');
					opacity: 0;
				}
				.svg-box{
					position: absolute;
					top: 0%;
					left: 0%;
					width: 100%;
					height: 100%;
					.text2 {
						font-family: 'Intel Clear Bd', Tahoma, sans-serif;
						@include font-size-desktop(100);
						line-height: 1em;
						color: white;
						fill: url(#pattern-image);
						tspan{
							position: relative;
						}
					}
				}
				.light{
					position: absolute;
					width: 220%;
					top: 55%;
					left: 75%;
					transform: translate(-50%, -50%);
					opacity: 0.6;
				}
				.up-to{
					font-family: 'Intel Clear', Tahoma, sans-serif;
					position: absolute;
					bottom: 82%;
					left: 48.5%;
					transform: translateX(-50%);
					@include font-size-desktop(14.5);
					color: #fffaf0;
				}
			}
			.title{
				display: inline-block;
				@include font-size-desktop(40);
				margin-left: 0.1em;
				color: #29ade4;
				sup{
					position: relative;
					top: -0.2em;
					font-family: 'Intel Clear', Tahoma, sans-serif;
					font-size: 0.4em;
					color: #29ade4;
				}
			}
		}
		.text-box2{
			.number-box{
				.light{
					width: 350%;
					top: 50%;
					left: 83%;
				}
			}
		}
		.text-box3{
			.number-box{
				.light{
					width: 350%;
					top: 50%;
					left: 83%;
				}
			}
		}
	}
}
.hasDesktopDouble{
	.Blade2{
		height: 50%;
	}
}
[iphone][uc] {
	.Blade2{
		.right-box{
			.text-box {
				.number-box{
					.number{
						font-size: cal-font-size(64, 414);
					}
				}
				.title {
					@media (max-width: 767px) {
						top: 0em !important;
					}
				}
			}
		}
	}
}
@include breakpoint(767px){
	.Blade2{
		height: 100%;
		.bg{
			background: url('./../../images/bg-mobile.jpg') no-repeat center center/cover;
		}
		.container{
			width: 100%;
		}
		.left-box{
			width: 81%;
			left: 50%;
			top: 5%;
			transform: translateX(-50%);
			.headline{
				font-size: cal-font-size(45, 414);
				letter-spacing: cal-font-size(0.5, 414);
				line-height: 0.92em;
				span {
					display: block;
				}
			}
			.chip{
				width: 51%;
				margin-left: 22%;
				margin-top: 7.5%;
			}
		}
		.right-box{
			left: 51%;
			top: 62.7%;
			transform: translateX(-50%);
			width: 41%;
			.text-box{
				.number-box{
					.number{
						font-size: cal-font-size(55, 414);
					}
					.svg-box{
						.text2 {
							font-size: cal-font-size(55, 414);
						}
					}
					.up-to{
						font-size: cal-font-size(8, 414);
					}
				}
				.title{
					top: -.62em;
					font-size: cal-font-size(20, 414);
				}
			}
		}
	} 
}

.rtl{
    .Blade2{
		.text-box{
            direction: rtl;
		}
		.right-box{
			.text-box{
				.title{
					margin-left: 0em;
					margin-right: 0.1em;
				}
			}
		}
	}

	@include breakpoint(767px, $type: 'rtl'){
		.Blade2{
		}
	}
}
@include breakpoint(767px){
	&.hasMobileDouble{
		.Blade2{
			height: 50%;
		}
	}
}

.edge, .ie{
	.Blade2{
		.left-box{
			.headline{
				.th{
					position: relative;
					top: 0.25em;
				}
			}
		}
	}
}

// .alone-pre{
// 	.Blade2{
// 		max-width: 1200px;
// 	}
// }