
.loading-mask{
	&.hidden{
		display: none;
	}
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	top: 0;
	left: 0;
	z-index: 9;
	.loading-bar-wrapper {
		width: 80%;
		max-width: 316px;
		height: 37px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		.loading-bar {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 14px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 7px;
				background: url('../../images/loading-bar-left.png') no-repeat;
			}
			&:after {
				content: '';
				display: block;
				width: 7px;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				background: url('../../images/loading-bar-right.png') no-repeat;
			}
			.loading-bar-inner {
				position: absolute;
				top: 3px;
				left: 3px;
				right: 3px;
				height: 9px;
				.loading-bar-inner-bar {
					&:before {
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 0;
						box-sizing: border-box;
						border-bottom: 5px solid #ffffff;
						border-right: 4px solid transparent;
					}
					&:after {
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 0;
						box-sizing: border-box;
						border-top: 5px solid #ffffff;
						border-right: 4px solid transparent;
					}
				}
			}
		}
		.loading-bar-text {
			position: absolute;
			top: 20px;
			left: 50%;
			-webkit-transform: translate(-50%, 0);
			-ms-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
			font-family: 'Intel Clear Pro', Tahoma, sans-serif;
			color: white;
			font-size: 18px;
			line-height: 18px;
		}
	}
}
.rtl{
	.loading-mask{
		.loading-bar-wrapper {
			.loading-bar {
				direction: ltr;
			}
		}
	}
}