@import '~nytpi-sass-utils/index';
@import '~nytpi-sass-utils/size-class';
@import '~nytpi-sass-utils/font-size';
@import "../../scss/variables";
@include set-pspx-ratio(1);
.PageContainer1 {
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 3;
  display: flex;
  @include size-class($compact) {
    flex-wrap: wrap;
  }
}

.intro-page {
  position: relative;
  width: 64em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include size-class($compact) {
    width: 100%;
    display: block;
  }
}
[windows]{
  .nacigationMob {
    span {
      line-height: 31px;
    }
  }
}
[ie11]{
  .nacigationMob {
    span {
      line-height: 34px;
    }
  }
}
.nacigationMob {
  display: none;
  left: 0;
  z-index: 999;
  background-color: #f47420;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  height: 27px;
  margin-bottom: 5.4vw;
  span {
    font-size: 16px;
    letter-spacing: .1em;
    margin-left: .9em;
    line-height: 27px;
    height: 27px;
    display: inline-block;
  }
  .childBox {
    display: flex;
    float: right;
    margin-right: 1.3em;
    .child {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #000;
      opacity: .3;
      margin: 10px 7px;
      &.active {
        background-color: #fff;
        opacity: 1;
      }
    }
  }
}
// @media (max-width: 1075px) and (min-width: 800px){
//   .intro-page {
//     font-size: 1.6vw;
//   }
// }
@include size-class($compact) {
  .nacigationMob{
    display: block;
  }
  // :global {
  //   .section1-observeraEle {
  //     transform: translateY(0);
  //     opacity: 0;
  //     transition: opacity .6s ease, transform .6s ease;
  //     &[data-active] {
  //       transform: translateY(0);
  //       opacity: 1;
  //     }
  //   }
  // }
}
/*====================*/

.show-desktop{
  display: block;
}
.show-mobile{
  display: none;
}

@include size-class(compact) {

  .show-desktop{
    display: none;
  }
  .show-mobile{
    display: block;
  }
}
.intro-page1 {
  align-items: center;
  background-color: rgb(247,244,237);
  z-index: 3;
  // &::before {
  //   content: "";
  //   display: block;
  //   width: 8px;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   height: 100%;
  //   background-color: #f47420;
  //   transform: translate(-10px)
  // }
  .page1-anims-container {
    position: relative;
    margin-top: 1.2em;
    margin-left: 2em;
    width: 36em;
    .titleBox {
      position: absolute;
      width: 60%;
      left: -1%;
      top: -6%;
      transform: translate3d(0,0,0);
    }
    .page1-svg{
      svg{
        path{
          transform: translate(-86px, -303px);
        }
      }
    }
    .page1-svg, .page1-svg-m {
      svg{
        path{
          stroke-dasharray: 800;
          stroke-dashoffset: -800;
         }
      }
    }

    &[data-active]{
      svg{
        path{
          animation: lineMove 1s ease-out;
          animation-fill-mode: forwards;
          animation-delay: .3s;
        }
      }
    }
    .page1-bg-mob {
      display: none;
    }
  }
  @include size-class($compact) {
    height: auto;
    &::before {
      display: none;
    }
    .page1-anims-container {
      margin: 0 auto;
      margin-top: 75px;
      width: 93%;
      .titleBox {
        width: 78%;
        top: -2%;
      }
    }
    .page1-bg {
      display: block;
      width: 100%;
      text-align: center;
    }
    @include size-class(compact) {
      .page1-anims-container {
        margin-top: 30px;
        .titleBox {
          width: 56%;
          left: 3%;
          top: 2%;
        }
      }
      .page1-anims-container {
        text-align: center;
        display: block;
        width: 100%;
      }
    }
  }
}

/*====================*/

.intro-page2 {
  align-items: center;
  background-color: #fff;
  z-index: 2;
  .page2-bg {
    margin-top: 1.2em;
    margin-left: 1em;
    width: 20em;
    z-index: 1;
  }
  .page2-graphicBox {
    width: 18em;
    margin-left: 2em;
    z-index: 1;
    .graphic2 {
      margin-top: 3em;
    }
  }
  @include size-class($compact) {
    background-color: inherit;
    padding: 9vw 0 10vw 0;
    height: auto;
    &::after {
      display: none;
    }
    .page2-bg {
      margin-top: 0;
      padding-top: 55px;
      margin-left: 0em;
      width: 60%;
      margin: 0 auto;
      text-align: center;
    }
    .page2-graphicBox {
      width: 100%;
      margin: 0;
      padding-top: 6vw;
      .graphic2 {
        padding-top: 2.5em;
        width: 22em;
				margin: 0 auto;
				@include size-class($compact){
					width: auto;
				}
      }
      .graphic {
        width: 23em;
				margin: 0 auto;
				@include size-class($compact){
					width: auto;
				}
      }
    }
  }
  @include size-class(compact) {

    .page2-bg {
      margin-top: 0em;
      padding-top: 30px;
      margin-left: 0em;
      width: 100%;
      text-align: center;
    }
  }
}

/*====================*/

.intro-page3 {
  position: relative;
  align-items: center;
  z-index: 1;
  background-color: rgb(247,244,237);
  .page3-anims-container {
    position: relative;
    display: block;
    margin-top: 1.2em;
    margin-left: 0em;
    width: 35em;
    .titleBox3 {
      position: absolute;
      left: -2%;
      top: -2%;
      width: 47%;
      z-index: 7;
      transform: translate3d(0,0,0);

    }
  }
  .next-bar {
    display: block;
    position: absolute;
    height: 100%;
    width: 1.4em;
    background: linear-gradient(to right, #000 -200%, #2a8c1f 60%);
    z-index: 1;
    right: -1px;
    top: 0;
    cursor: pointer;
    // opacity: 0;
    // transition: opacity .3s ease-out .6s;
    path {
      fill: #fff;
      transition: fill .3s ease-out;
    }
    &:hover {
      path {
        fill: #000;
      }
    }
    span {
      position: absolute;
      left: 20%;
      top: 0;
      height: 100%;
      width: 60%;
    }
  }
  @include size-class($compact) {
    height: auto;
    &::after {
      display: none;
    }
    .page3-anims-container {
      margin: 0 auto;
      width: 85%;
      margin-top: 75px;
      .titleBox3 {
        width: 70%;
      }
    }
    @include size-class(compact) {
      .page3-anims-container {
        text-align: center;
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        .titleBox3 {
          margin-top: 30px;
          width: 107%;
          left: 3%;
          top: 2%;
        }
      }
    }
    .next-bar {
      display: none;
    }
  }
}

:global {
  @keyframes lineMove {
    0%{
      stroke-dashoffset: -800;
    }
    100%{
      stroke-dashoffset: 0;
    }
  }
}
