@import '../../../../style/_mixin.scss';
@include font-face('IntelClearPro_W_Bd', 'Intel Clear Pro');
@include font-face('IntelClear_WLat_Rg', 'Intel Clear');
@include font-face('IntelClear-Bold', 'Intel Clear Bd');
@import '../../../../style/_reset.scss';

html, body{
    width: 100%;
    height: 100%;
}
img{
    display: block;
    width: 100%;
}
.Processors{
    position: relative;
    width: 100%;
	height: 100%;
    max-width: 1464px;
    margin: 0 auto;
    overflow: hidden;
	background-color: #000000;
	background-size: cover;
}


.hasDouble{
	.Processors{
		height: 50%;
	}
}