@import '~nytpi-sass-utils/index';
@import '~nytpi-sass-utils/size-class';
@import '~nytpi-sass-utils/font-size';
@import "../../scss/variables";
@include set-pspx-ratio(1);
.TLIntro {
  position: relative;
  // width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 4;
  display: flex;
  @include size-class($compact) {
    flex-wrap: wrap;
  }
}

.holdplace {
  opacity: 0;
  visibility: hidden;
}

.intro-page {
  position: relative;
  width: 64em;
  height: 100%;
  display: flex;
  align-items: center;
}

:global {
  .intro-observeraEle {
    transform: translate3d(0, 0, 0);
    // transform: translate3d(0, 50px, 0);
    // opacity: 0;
    // transition: opacity .6s ease, transform .6s ease;
    // canvas {
    //   transform: translate3d(0, 0, 0);
    // }
    // &[data-active] {
    //   transform: translate3d(0, 0, 0);
    //   opacity: 1;
    // }
  }
}

// @include size-class($compact) {
//   :global {
//     .intro-observeraEle {
//       transform: translate3d(0, 0, 0);
//       opacity: 0;
//       transition: opacity .6s ease, transform .6s ease;
//       &[data-active] {
//         transform: translate3d(0, 0, 0);
//         opacity: 1;
//       }
//     }
//   }
// }

.show-desktop {
  display: block;
}

.show-mobile {
  display: none;
}

@include size-class($compact) {
  .show-desktop {
    display: none;
  }
  .show-mobile {
    display: block;
  }
}

[ie11]{
  .intro-page1{
    .intro-context{
      margin-top: 7em;
      @include size-class($compact) {
        margin-top: 8%;
      }
    }
  }
}

/*====================*/

.intro-page1 {
  background-image: linear-gradient(#fbb821, #fbb821);
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgb(247, 244, 237);
  background-size: 20.2em 100%;
  z-index: 3;
  @media (min-height: 845px) {
    font-size: 20px;
  }
  &>div {
    flex: 0 0 auto;
  }
  .intro-img {
    margin-top: .8em;
    margin-left: .7em;
    width: 33em;
    transform: translate3d(0, 0, 0);
    img {
      width: 100%;
      max-width: none;

    }
  }
  .intro-context {
    font-family: 'Overpass', sans-serif;
    width: 28em;
    margin-top: 4.3em;
    h1 {
      font-weight: 800;
      font-size: 3.6em;
      line-height: 1.1em;
      letter-spacing: -.02em;
			width: 9em;
			@include size-class(mobile-portrait to tablet-portrait){
				width: auto;
			}
    }
    p {
      margin-top: 2.6em;
      font-weight: 600;
      font-size: 1.2em;
      line-height: 1.167em;
      letter-spacing: 0em;
    }
  }
  .scrollBtn {
    position: relative;
    margin-top: 4em;
    margin-left: 29em; // display: flex;
    // align-items: center;
    line-height: .9em;
    font-size: .9em;
    font-family: 'Overpass';
    font-weight: 800;
    transition: color .2s, fill .2s;
    width: 5em;
    span {
      display: inline-block;
    }
    .arrow {
      margin-left: .4em;
      width: .75em;
      height: 1.3em; // margin-top: -.5em;
    }
    .btnText {
      position: absolute;
      top: 50%;
      right: 100%;
      left: auto;
      transform: translate(0, -50%);
    }
    path {
      fill: #000;
      transition: color .2s, fill .2s;
    }

  }
}

/*====================*/

.intro-page2 {
  width: 68.8em;
  margin-left: -2px;
  background: #fbb821;
  z-index: 3;
  .page2-content {
    position: relative;
    margin-left: 7em;
    margin-top: 0;
    width: 43em;
    z-index: 1;
    transform: translate3d(0, 0, 0);

    .page-sub-anim {
      margin-bottom: 1em;
      margin-left: 13em;
      width: 60%;
      display: block;
      transform: translate3d(0, 0, 0);
      img {
        width: 100%;
        max-width: none;
      }
    }
    .page2-bodyCopy {
      margin: 0;
      width: 100%;
      min-width: 0; // column-gap: 1em;
      // column-width: 21em;
      display: flex;
      font-weight: 400;
      justify-content: space-between;
      &>div {
        width: 49%;
        &:nth-child(1) {
          p:nth-child(1) {
            position: relative;
            transform: translate3d(0, 0, 0);
            &::first-letter {
              padding: .3em .4em;
              margin-top: .1em;
              margin-left: -.8em;
              margin-right: .4em;
              float: left;
              font-size: 5em;
              font-weight: bold;
              border: .1em solid;
              line-height: .75em;
            }
          }
        }
      }
      sup {
        color: #000;
      }
    }
  }
  .page-char {
    width: 10.7em;
    margin-left: 5.4em;
    -webkit-font-smoothing: antialiased;
    &[data-active] {
      .mid {
        .chart-box {
          &:nth-child(1) {
            .chart-num {
              opacity: 1;
              transition: opacity .3s ease .4s;
            }
          }
          .chart-line {
            &::after {
              transition: transform .5s ease .1s;
              transform: translate3d(0, 0, 0);
            }
          }
          .chart-num {
            opacity: 1;
            transition: opacity .3s ease .6s;
          }
          .chart-year {
            opacity: 1;
            transition: opacity .3s ease .1s;
          }
        }
      }
    }
    .top {
      padding: .6em 0;
      text-align: center;
      border: .2em solid #000;
      span {
        display: block;
      }
      .title {
        font-family: "Overpass";
        font-weight: 900;
        font-size: .7em;
        letter-spacing: .075em;
        line-height: 1em;
      }
      .subTitle {
        margin-top: .6em;
        font-family: "Overpass Mono";
        font-weight: 700;
        font-size: .6em;
        letter-spacing: 0;
        line-height: 1em;
      }
    }
    .mid {
      width: 6em;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .chart-box {
        margin-top: 1.8em;
        width: 47%;
        position: relative;
        .chart-num {
          font-family: "Overpass";
          font-weight: 900;
          color: #fff;
          text-align: center;
          line-height: 1em;
          opacity: 0;
          span {
            display: block;
            &:nth-child(1) {
              font-size: 1.1em;
              line-height: .8em;
            }
            &:nth-child(2) {
              font-size: .64em;
              line-height: 1.5em;
              font-weight: 600;
            }
          }
        }
        .num1 {
          position: absolute;
          top: 4.67em;

        }
        .line1 {
          margin-top: 1.78em;
        }
        .chart-line {
          position: relative;
          width: 100%;
          height: 7em;
          overflow: hidden;
          &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            background: #000;
            transform: translate3d(0, 105%, 0);
          }
        }
        .chart-year {
          text-align: center;
          color: #fff;
          font-family: "Overpass Mono";
          font-weight: 700;
          font-size: .64em;
          line-height: 1em;
          margin-top: 5px;
          opacity: 0;
        }
        &:nth-child(1) {
          .chart-line {
            &::after {
              height: 33%;
            }
          }
        }
      }
    }
    .bottom {
      margin-top: 2.2em;
      .title {
        padding: .6em;
        line-height: 1em;
        text-align: center;
        font-family: "Overpass";
        font-weight: 900;
        font-size: .7em;
        letter-spacing: .075em;
        border: .2em solid #000;
      }
      .content {
        margin-top: 1em;
        color: #fff;
        text-align: center;
        .bigNum {
          font-family: "Overpass";
          font-weight: 900;
          font-size: 3em;
          letter-spacing: .025em;
          line-height: 1em;
          display: block;
        }
        .decs {
          display: block;
          font-family: "Overpass Mono";
          font-weight: 700;
          font-size: .6em;
          line-height: 1.2em;
          text-transform: uppercase;
        }
      }
    }
  }
}

/*====================*/

.intro-page3 {
  width: 59em;
  align-items: center; // background-image: linear-gradient(#f7f4ed, #f7f4ed);
  background-repeat: no-repeat;
  background-color: rgb(247, 244, 237);
  background-position: right;
  background-size: 42em 100%;
  z-index: 1;
  .page3-content {
    position: relative;
    margin-left: 3em;
    width: 21em;
    z-index: 1;
    .page3-bodyCopy {
      width: 101%;
      margin: 0;
      min-width: 0;
      font-weight: 400;
      h1 {
        &::after {
          content: "";
          display: block;
          height: 9px;
          width: 24%;
          margin-top: .3em;
          background-color: #fbb821;
        }
        span {
          display: block;
        }
      }
      span {
        font-weight: bold;
      }
      sup {
        color: #000;
      }
    }
    .page3-sub-anim {
      position: relative;
      margin-top: 2.5em;
      width: 100%;
      height: 5.1em;
      img{
        position: absolute;
        width: 65%;
        right: 0;
      }
    }
    &[data-active] {
      .page3-sub-anim {
        img{
          transform: translate3d(-70%, 0, 0);
          transition: transform 1s ease .2s;
        }
      }
    }
  }
  .page3-anim {
    position: relative;
    width: 32.5em;
    margin-left: 1.8em;
    -webkit-font-smoothing: antialiased;
    .anim {
      width: 100%;
    }
    .copy {
      position: absolute;
      width: 4em;
      top: 27%;
      left: 29%;
      text-align: center;
      color: #fff;
      font-family: "Overpass";
      font-weight: 700;
      font-size: 3em;
      line-height: 1.1em;
      z-index: 1;
      transform: translate3d(0, 0, 0);
      span {
        display: block;
      }
      .subTitle {
        margin: 0 auto;
        width: 85%;
        font-size: .233em;
        line-height: 1.1em;
      }
    }
    img {
      width: 100%;
      max-width: none;
    }
  }
  .next-bar {
    position: absolute;
    height: 100%;
    width: 1.4em;
    right: -1px;
    top: 0; // background: #f7740a;
    background: linear-gradient(to right, #000 -200%, #f7740a 60%);
    cursor: pointer;
    // opacity: 0;
    // transition: opacity .3s ease-out .6s;

    // visibility: hidden;
    path {
      fill: #fff;
      transition: fill .3s ease-out;
    }
    &:hover {
      path {
        fill: #000;
      }
    }
    span {
      position: absolute;
      left: 20%;
      top: 0;
      height: 100%;
      width: 60%;
    }
  }
}

:global(.swiper-slide-active) {
  .intro-page3 {
    .next-bar {
      opacity: 1;
    }
  }
}

@include size-class($compact) {
  .intro-page {
    width: 100% !important;
    flex-wrap: wrap;
  }
  .intro-page1 {
    background-position: bottom;
    background-size: 100% 21.1%;
    background-image: linear-gradient(#f8c01f, #f8c01f);
    flex-wrap: wrap-reverse !important;
    font-size: 8.1vw;
    background-color: #f7f4ed;
    height: auto;
    .intro-img {
      position: relative;
      margin: 0 auto;
      width: 80%;
      &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        width: 140%;
        height: 40%;
        left: -20%;
        background: #f8c01f;
        z-index: -1;
      }
    }
    .intro-context {
      margin: 0 auto;
      margin-top: 8%;
      width: 10.5em;
      text-align: center;
      h1 {
        font-size: 1em;
      }
      p {
        margin-top: 2%;
        font-size: .716em;
        color: #cb9419;
      }
    }
    .scrollBtn {
      margin: 0 auto;
      margin-top: -2%;
      width: .9em;
      transform: rotate(90deg);
      cursor: pointer;

      span:nth-child(1) {
        display: none;
      }
      .arrow {
        width: 100%;
      }
      &:hover {
        color: #2a8c1f;
        path {
          fill: #2a8c1f;
        }
      }
    }
  }
  .intro-page2 {
    margin: 0;
    padding-top: 4vw;
    padding-bottom: 6vw;
    background: #f8c01f;
    height: auto;

    .page2-content {
      position: relative;
      margin: 0 auto;
      width: 92%;
      .page-sub-anim {
        display: none;
      }
      .page2-bodyCopy {
        margin: 0;
        width: 100%;
        flex-wrap: wrap;
        &>div {
          width: 100%;
          &:nth-child(1) {
            p:nth-child(1) {
              &::first-letter {
                padding: 0.4em .5em;
                margin-top: .17em;
                margin-left: 0;
                margin-right: .4em;
                font-size: 250%;
              }
            }
          }
        }
        sup {
          color: #000;
        }
      }
    }
    .page-char {
      margin: 0 auto;
      width: 3.61em;
      margin-top: .5em;
      font-size: 70px;
      .top {
        padding: .3em 0;
        text-align: center;
        border: .05em solid #000;
        span {
          display: block;
        }
        .title {
          font-size: .2378em;
        }
        .subTitle {
          margin-top: 3%;
          font-size: .2027em;
          line-height: .9em;
        }
      }
      .mid {
        width: 59%;
        .chart-box {
          margin-top: .65em;
          width: 47%;
          .num1 {
            top: 1.58em;
          }
          .line1 {
            margin-top: 0.63em;
          }
          .chart-num {
            margin-bottom: .05em;
            span {
              &:nth-child(1) {
                font-size: .3567em;
              }
              &:nth-child(2) {
                font-size: .21em;
              }
            }
          }
          .chart-line {
            height: 2.3783em;
          }
          .chart-year {
            font-size: .1892em;
          }
        }
      }
      .bottom {
        margin-top: 12%;
        .title {
          font-size: .2405em;
        }
        .content {
          margin-top: 10%;
          color: #fff;
          text-align: center;
          .bigNum {
            font-size: 1em;
          }
          .decs {
            font-size: .2em;
          }
        }
      }
    }
  }
  .intro-page3 {
    padding-top: 4.5em;
    margin: 0;
    width: 100%;
    align-items: center;
    background-size: 0% 0%;
    height: auto;

    .page3-content {
      margin: 0 auto;
      position: relative;
      width: 92%;
      .page3-bodyCopy {
        h1 {
          font-size: 8.2vw;
          &::after {
            display: none;
          }
          span {
            display: inline-block;
          }
        }
      }
      .page3-sub-anim {
        display: none;
      }
    }
    .page3-anim {
      position: relative;
      margin: 0 auto;
      width: 90%;
      font-size: 2.6vw;
      z-index: 0;
      .anim {
        width: 100%;
      }
      .copy {
        position: absolute;
        width: 4em;
        top: 26%;
        left: 29%;
        text-align: center;
        color: #fff;
        font-family: "Overpass";
        font-weight: 700;
        font-size: 3em;
        line-height: 1.2em;
        span {
          display: block;
        }
        .subTitle {
          margin: 0 auto;
          width: 85%;
          font-size: .233em;
          line-height: 1.2em;
        }
      }
      img {
        width: 100%;
        max-width: none;
      }
    }
    .next-bar {
      display: none;
    }
  }
}

@include size-class(compact) {
  .intro-page1 {
    font-size: 8.1vw;
    background-position: bottom;
    background-size: 100% 23.5%;
    .intro-img {
      margin: 0 auto;
      width: 100%;
    }
  }
  .intro-page2 {
    .page-char {
      font-size: 13.04vw;
    }
  }
  .intro-page3 {
    margin: 0;
    width: 100%;
    align-items: center;
    background-size: 0% 0%;
    .page3-content {
      margin: 0 auto;
      position: relative;
      width: 92%;
      .page3-bodyCopy {
        h1 {
          font-size: 8.2vw;
          span {
            display: inline-block;
          }
        }
      }
      .page3-sub-anim {
        display: none;
      }
    }
    .page3-anim {
      margin: 0 auto;
      width: 90%;
      overflow: hidden;
      font-size: 19.5vw;
      &:after {
        position: absolute;
        content: "";
        width: calc(100% - 6px);
        height: 50%;
        top: 0;
        display: block;
        border-top: 2px solid #0a93d2;
        border-left: 2px solid #0a93d2;
        border-right: 2px solid #0a93d2;
        z-index: -1;
      }
      .anim {
        margin-left: -9.5%;
        width: 118%;
      }
      .copy {
        position: relative;
        margin: 0 auto;
        margin-bottom: -2%;
        margin-top: 3%;
        top: 0;
        left: 0;
        width: 83%;
        font-size: 1em;
        color: #0a93d2;
        span {
          display: block;
        }
        .subTitle {
          margin: 0 auto;
          width: 94%;
          font-size: .2em;
          line-height: .9em;
          color: #000;
          letter-spacing: .1em;
          font-weight: 900;
        }
      }
    }
    .next-bar {
      display: none;
    }
  }
}
