@import '~nytpi-sass-utils/index';
@import '~nytpi-sass-utils/size-class';
@import '~nytpi-sass-utils/font-size';
@import url('https://fonts.googleapis.com/css?family=Saira:400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,600,600i,700&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400');

@include set-pspx-ratio(1);

.PaidPost {
	background: rgb(0,0,0);
	overflow: hidden;
}
.mask {
	position: fixed;
	top: 118px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 1000;
	opacity: 1;
	transition: all .5s;
}

img {
	vertical-align: middle;
}
:global {
	.word-break {
		white-space: nowrap;
	}
	.marginTop {
		// margin-top: 82/1280*100vw;
		// margin-bottom: 82/1280*100vw;
		margin-top: 50px;
		margin-bottom: 50px;
		@include size-class(shell) {
			// margin-top: 40/1280*1605px;
			// margin-bottom: 40/1280*1605px;
			margin-top: 50px;
			margin-bottom: 50px;
		}
		@media (max-width: 640px) {
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}
	.ppc--BodyCopy--root {
		font-family: 'Lato', sans-serif;
		line-height: 36/16*1em !important;
		font-weight: 400;
		-webkit-font-smoothing: subpixel-antialiased;
		letter-spacing: .020em;
		p {
			color: #fff;
		}
		@include size-class(compact) {
			letter-spacing: -.02em !important;
		}
	}
	@media (min-width: 854px){
		.ppc--BodyCopy--withLayout {
				min-width: 571px !important;
		}
	}
}


// Make sure this is the last line of the file.
@include set-pspx-ratio(2);
