@import '../../../../style/mixin.scss';
@include font-face('IntelClear_WLat_Rg', 'Intel Clear');
@import '../../../../style/_reset.scss';


html, body{
    width: 100%;
    height: 100%;
}
img{
    display: block;
    width: 100%;
}

.Retailer{
    position: relative;
    width: 100%;
	height: 100%;
    max-width: 1464px;
    margin: 0 auto;
    overflow: hidden;
	cursor: pointer;
	background-color: #0a599c;
}
.hasDesktopDouble{
	.Retailer{
		height: 50%;
	}
}

@include breakpoint(767px){
	.Retailer{
		height: 100%;
	}
}
@include breakpoint(767px){
	&.hasMobileDouble{
		.Retailer{
			height: 50%;
		}
	}
}


// .alone-pre{
// 	.Retailer{
// 		max-width: 1200px;
// 	}
// }