@import '../../../../style/mixin.scss';
@include font-face('IntelClearPro_W_Bd', 'Intel Clear Pro');
@include font-face('IntelClear_WLat_Rg', 'Intel Clear');
@include font-face('IntelClear-Bold', 'Intel Clear Bd');
@import '../../../../style/_reset.scss';


html, body{
    width: 100%;
    height: 100%;
}
img{
    display: block;
    width: 100%;
}
h1, p, span, div{
    font: inherit;
}

.CoBrandHeader{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: #000;
	max-width: 1464px;
	overflow: hidden;
	.bg{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0%;
		left: 0%;
		background: url('./../../images/bg.jpg') no-repeat center center/cover;
	}
	.text-container{
		position: absolute;
		@include font-size-desktop(1200, $type: 'width');
		height: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
	.light{
		position: absolute;
		bottom: 0%;
    	left: -11.2%;
		@include font-size-desktop(550, $type: 'width');
	}
	.animate{
		position: absolute;
		bottom: 7.5%;
    	right: -5.7%;
		@include font-size-desktop(850, $type: 'width');
		transform: translateX(100%);
		transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
		&[active] {
			transform: translate3d(0,0,0);
		}
	}
	.chip-box{
		position: absolute;
		width: 12.7%;
		top: 65.1%;
		left: 5.3%;
		transform: translateX(-330%);
		transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
		&[active] {
			transform: translate3d(0,0,0);
		}
	}
	.text-box1{
		font-family: 'Intel Clear Bd', Tahoma, sans-serif;
		position: absolute;
		top: 10.4%;
		left: 6.4%;
		@include font-size-desktop(480, $type: 'width');
		color: white;
		transform: translateX(-160%);
		transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
		&[active] {
			transform: translate3d(0,0,0);
		}
		// perspective: 500;
		// -webkit-perspective: 600;
		// perspective-origin: 0% 50%;
		p{
			@include font-size-desktop(15);
			@include font-size-desktop(0.6, $type: 'letter-spacing');
			sup{
				position: relative;
				top: 0.1em;
				font-size: 0.5em;
			}
			.r{
				position: relative;
				left: -0.2em;
			}
		}
		.headline2{
			@include font-size-desktop(0.3, $type: 'letter-spacing');
			@include font-size-desktop(6, $type: 'margin-top');
			font-family: 'Intel Clear Pro', Tahoma, sans-serif;
			@include font-size-desktop(88.3);
			line-height: 0.82em;
		}
	}
	.text-box2{
		font-family: 'Intel Clear', Tahoma, sans-serif;
		position: absolute;
		top: 66.5%;
		left: 20.5%;
		@include font-size-desktop(326, $type: 'width');
		color: white;
		transform: translateX(-220%);
		transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
		&[active] {
			transform: translate3d(0,0,0);
		}
		.up-to{
			font-family: 'Intel Clear Bd', Tahoma, sans-serif;
			@include font-size-desktop(15);
		}
		.title-box{
			font-size: 0px;
			@include font-size-desktop(-10, $type: 'margin-top');
			.title{
				font-family: 'Intel Clear Pro', Tahoma, sans-serif;
				@include font-size-desktop(84);
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				line-height: 1em;
				color: #29ade4;
			}
			.sub-text{
				font-family: 'Intel Clear', Tahoma, sans-serif;
				@include font-size-desktop(22);
				@include font-size-desktop(2, $type: 'margin-top');
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				line-height: 1.2em;
			}
			.desc{
				position: absolute;
				bottom: 0%;
				left: 47%;
				font-family: 'Intel Clear', Tahoma, sans-serif;
				@include font-size-desktop(13.7);
				@include font-size-desktop(5, $type: 'margin-top');
				sup{
					font-size: 0.5em;
				}
			}
		}
		.title-box:after{
			content: " ";
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			font-size: 0px;
		}
	}
	.text-box3{
		position: absolute;
		left: 49.5%;
		bottom: 5.5%;
		@include font-size-desktop(470, $type: 'width');
		font-size: 0px;
		transform: translateX(200%);
		transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
		&[active] {
			transform: translate3d(0,0,0);
		}
		.left-box{
			position: relative;
			display: inline-block;
			width: 50%;
			vertical-align: bottom;
			.starting-at{
				position: absolute;
				width: 92%;
				bottom: 110%;
				font-family: 'Intel Clear', Tahoma, sans-serif;
				@include font-size-desktop(15);
				color: white;
				text-align: center;
			}
			.product-name{
				display: none;
			}
			.price{
				font-family: 'Intel Clear Pro', Tahoma, sans-serif;
				color: #29ade4;
				@include font-size-desktop(80);
				@include font-size-desktop(1.2, $type: 'letter-spacing');
				line-height: 1em;
				// vertical-align: top;
				.dollar{
					position: relative;
					top: 0.1em;
					font-size: 0.7em;
					line-height: 0.6em;
					display: inline-block;
					vertical-align: top;
				}
				.big{
					font-size: 1em;
					line-height: 0.6em;
					display: inline-block;
					vertical-align: top;
				}
				.small{
					position: relative;
					left: 0.1em;
					font-size: 0.6em;
					line-height: 0.6em;
					display: inline-block;
					vertical-align: top;
					text-decoration: underline;
				}
			}
		}
		.right-box{
			display: inline-block;
			width: 50%;
			vertical-align: bottom;
			margin-bottom: 3.5%;
			.sub-line{
				font-family: 'Intel Clear Bd', Tahoma, sans-serif;
				color: #ffffff;
				@include font-size-desktop(17.6);
			}
			.sub-text{
				font-family: 'Intel Clear', Tahoma, sans-serif;
				color: #ffffff;
				@include font-size-desktop(17.6);
				line-height: 1.3em;
			}
		}
	}
	
    .logo-retailer{
        position: absolute;
		bottom: 9.8%;
		right: 3.3%;
		width: 7.3%;
        opacity: 0;
        &[active] {
					opacity: 1;
					transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
				}
    }
}
.hasDesktopDouble{
	.CoBrandHeader{
		height: 50%;
	}
}

@include breakpoint(767px){
	.CoBrandHeader{
		height: 100%;
		.bg{
			background: url('./../../images/bg-mobile.jpg') no-repeat center center/cover;
		}
		.text-container{
			width: 100%;
			height: 100%;
		}
		.animate{
			bottom: 23%;
			right: -8.2%;
			width: 120%;
		}
		.light{
			width: 15%;
			bottom: 16%;
			left: -22%;
		}
		.text-box1{
			top: 4.8%;
			left: 7.2%;
			width: 88%;
			p{
				font-size: cal-font-size(16, 414);
				line-height: 1.1em;
			}
			.headline2{
				font-size: cal-font-size(50, 414);
				line-height: 0.85em;
			}
		}
		.chip-box{
			width: 18%;
			top: 67.9%;
			left: 5.5%;
		}
		.text-box2{
			top: 82.7%;
			left: 7.2%;
			width: 87%;
			.up-to{
				font-size: cal-font-size(11.5, 414);
			}
			.title-box{
				margin-top: -2%;
				.title{
					width: 50%;
					font-size: cal-font-size(45.5, 414);
				}
				.sub-text{
					width: 50%;
					font-size: cal-font-size(15.5, 414);
					margin-top: cal-font-size(7, 414);
				}
				.desc{
					position: relative;
					left: 0.5%;
					font-size: cal-font-size(13.3, 414);
					margin-top: cal-font-size(1, 414);
				}
			}
		}
		.text-box3{
			left: 39%;
			bottom: 20.5%;
			width: 38%;
			.left-box{
				width: 100%;
				.starting-at{
					bottom: 108%;
					font-size: cal-font-size(10, 414);
				}
				.product-name{
					position: absolute;
					width: 94%;
					bottom: 133%;
					display: block;
					font-family: 'Intel Clear Bd', Tahoma, sans-serif;
					color: #ffffff;
					font-size: cal-font-size(13, 414);
					text-align: center;
				}
				.price{
					font-size: cal-font-size(55, 414);
					letter-spacing: 0.01em;
				}
			}
			.right-box{
				display: none;
			}
		}
		.logo-retailer{
			bottom: auto;
			top: 66.9%;
			right: 7%;
			width: 15.8%;
		}
	} 
}

.rtl{
    .CoBrandHeader{
        .text-box1{
            direction: rtl;
        }
        .text-box2{
			direction: rtl;
			.title-box .desc{
				left: auto;
				right: 46%;
				bottom: 2%;
			}
        }
        .text-box3{
			direction: rtl;
			.left-box .price .small{
				left: -0.1em;
			}
        }
	}

	@include breakpoint(767px, $type: 'rtl'){
		.CoBrandHeader{
			.text-box2{
				.title-box .desc{
					left: auto;
					right: auto;
				}
			}
		}
	}
}
@include breakpoint(767px){
	&.hasMobileDouble{
		.CoBrandHeader{
			height: 50%;
		}
	}
}

// .alone-pre{
// 	.CoBrandHeader{
// 		max-width: 1200px;
// 	}
// }