@import '../../../../style/mixin.scss';

.ImageBg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
    .bg{
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
    }
    .bg-mob{
		width: 100%;
        display: none;
    }
    .bg-rtl{
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
        display: none;
	}
}

@include breakpoint(767px){
	.ImageBg{
		.bg{
			display: none;
		}
		.bg-mob{
			display: block;
		}
	}
}

.rtl{
    .bg{
        display: none;
    }
    .bg-rtl{
        display: block;
    }
	@include breakpoint(767px, 'rtl'){
		.ImageBg{
			.bg-rtl{
				display: none;
			}
			.bg-mob{
				display: block;
			}
		}
	}
}